In [1]:
from __future__ import print_function, division
import pandas as pd
import numpy as np
# if needed: pip install requests or conda install requests
import requests
from bs4 import BeautifulSoup
requests.__path__

['/Users/kelvin/anaconda3/lib/python3.7/site-packages/requests']

In [2]:
#HIV by country
url = 'https://apps.who.int/gho/athena/data/GHO/HIV_0000000001,HIV_0000000009,HIV_ARTCOVERAGE.html?profile=ztable'
response = requests.get(url)
page = response.text

In [4]:
soup = BeautifulSoup(page, "html.parser")

In [15]:
article_values = [entry.text for entry in soup.find_all('td')]

In [38]:
columns = ["GHO", "PUBLISH_STATE", "YEAR", "REGION", "COUNTRY", "DISPLAY_VALUE", "NUMERIC_VALUE", "LOW_RANGE", "HIGH_RANGE", "COMMENT"]

In [39]:
from collections import defaultdict

article_dict = defaultdict(list)

for idx, article_value in enumerate(article_values):
    if idx % 10 == 0:
        article_dict[columns[0]].append(article_value)
        article_dict[columns[1]].append(article_values[idx+1])
        article_dict[columns[2]].append(article_values[idx+2])
        article_dict[columns[3]].append(article_values[idx+3])
        article_dict[columns[4]].append(article_values[idx+4])
        article_dict[columns[5]].append(article_values[idx+5])
        article_dict[columns[6]].append(article_values[idx+6])
        article_dict[columns[7]].append(article_values[idx+7])
        article_dict[columns[8]].append(article_values[idx+8])

In [40]:
article_dict.keys()

dict_keys(['GHO', 'PUBLISH_STATE', 'YEAR', 'REGION', 'COUNTRY', 'DISPLAY_VALUE', 'NUMERIC_VALUE', 'LOW_RANGE', 'HIGH_RANGE'])

In [41]:
#Putting dict into DF
dataset = pd.DataFrame(article_dict)
#standardizing
dataset.columns = dataset.columns.str.lower()
#Sorting by GHO
dataset = dataset.sort_values("gho")
dataset.head()

,gho,publish_state,year,region,country,display_value,numeric_value,low_range,high_range
450,Estimated antiretroviral therapy coverage amon...,Published,2018,Americas,Jamaica,31 [27–36],31.00000,27.00000,36.00000
446,Estimated antiretroviral therapy coverage amon...,Published,2018,Africa,Ghana,34 [28–39],34.00000,28.00000,39.00000
445,Estimated antiretroviral therapy coverage amon...,Published,2018,Europe,Germany,80 [65–93],80.00000,65.00000,93.00000
444,Estimated antiretroviral therapy coverage amon...,Published,2018,Eastern Mediterranean,Egypt,31 [28–33],31.00000,28.00000,33.00000
443,Estimated antiretroviral therapy coverage amon...,Published,2018,Americas,Ecuador,57 [38–93],57.00000,38.00000,93.00000

In [117]:
columns = ['gho', 'year', 'region', 'country', 'numeric_value', 'low_range', 'high_range']
dataset = dataset[columns]

In [123]:
gho_dummies = pd.get_dummies(dataset["gho"]).astype(float)
year_dummies = pd.get_dummies(dataset["year"]).astype(float)
region_dummies = pd.get_dummies(dataset["region"]).astype(float)
country_dummies = pd.get_dummies(dataset["country"]).astype(float)

In [125]:
data_clean = pd.concat([data, gho_dummies, year_dummies, region_dummies, country_dummies], axis=1)

In [126]:
data_clean.shape

(1041, 188)

In [127]:
data_clean = data_clean.replace("", np.nan).dropna()
data_clean.shape

(665, 188)

In [129]:
data_clean.head()

,numeric_value,low_range,high_range,Estimated antiretroviral therapy coverage among people living with HIV (%),Estimated number of people (all ages) living with HIV,Reported number of people receiving antiretroviral therapy,2000,2005,2010,2018,...,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
450,31.00000,27.00000,36.00000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,34.00000,28.00000,39.00000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
445,80.00000,65.00000,93.00000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
444,31.00000,28.00000,33.00000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
443,57.00000,38.00000,93.00000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [151]:
data_clean[['numeric_value', 'low_range', 'high_range']] = data_clean[['numeric_value', 'low_range', 'high_range']].replace(" ", "").astype(float)

In [159]:
data_clean.shape

(665, 188)

In [161]:
y = data_clean.iloc[:, :1]
x = data_clean.iloc[:, 1:]

In [162]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [171]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.25)
print("x_train: \n", x_train.shape)
print("x_test: \n", x_test.shape)
print("y_train: \n", y_train.shape)
print("y_test: \n", y_test.shape)

x_train:
 (498, 187)
x_test:
 (167, 187)
y_train:
 (498, 1)
y_test:
 (167, 1)

In [172]:
lr = LinearRegression()
lr.fit(x_train, y_train)
predicted = lr.predict(x_test)
lr.score(x_train, y_train)

0.9999728906388036

In [193]:
y_test.shape

(167, 1)

In [192]:
predicted = pd.DataFrame(predicted)
predicted.iloc[:, 0:]

                 0
0     29970.787453
1     19446.648945
2    106431.788361
3     38711.014025
4     -2392.964851
..             ...
162    6676.356366
163   14930.170324
164   41107.500224
165  142030.874364
166    4124.035948

[167 rows x 1 columns]

In [187]:
pd.concat([y_test, predicted], ignore_index=True, axis=1)

             0              1
0          NaN   29970.787453
1          NaN   19446.648945
2      82800.0  106431.788361
3    3800000.0   38711.014025
4          NaN   -2392.964851
..         ...            ...
982       56.0            NaN
983       73.0            NaN
988       65.0            NaN
993       60.0            NaN
996       78.0            NaN

[307 rows x 2 columns]